<template name="cookLarge">
    <div class="section">
    	<header class="container">
			<div class="text-center">
				<div class="header-buffer">
					<div class="vertical">
						<img class="img-responsive center-block" src="images/tradiciones/tradiciones.svg" alt="Tradiciones. Sabores, colores y olores costarricenses">
						<h1>Make your own<br> Costa Rican meal!</h1>
					</div>
				</div>
			</div>
		</header>
    </div>
    <div class="section">
    	<div class="container">
			<div class="recipes">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
						{{#each mainDishes}}
							{{> recipe}}
						{{/each}}
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
						{{#each sideDishes}}
							{{> recipe}}
						{{/each}}
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
						{{#each beverages}}
							{{> recipe}}
						{{/each}}
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
						{{#each desserts}}
							{{> recipe}}
						{{/each}}
					</div>
				</div>
			</div>
		</div>
    </div>
 	  <div class="footer">
 	  	
		    <footer class="container" >
		        <p class="pull-right">
		        	<img class="twitter-logo" src="/images/tradiciones/Buttons/twitter-logo.svg">
		        	<img class="face-logo" src="/images/tradiciones/Buttons/face-logo.svg">
		        	<img class="insta-logo" src="/images/tradiciones/Buttons/insta-logo.svg">
		        </p>
		        
		        <p class="pull-left">
		    		<img class="logoFooter" src="/images/tradiciones/Buttons/hangar-logo.svg">
		    		<span class="spanFooter"> ©2015 HANGAR <span class="spanFooterBold">ILLUSTRATION LAB</span> all Rights Reserved</span>
				</p>
		    </footer> 
     </div>
 </template>