<template name="cookLarge">
	<div class="section">
		<header class="container">
			<div class="text-center">
				<div class="header-buffer">
					<div class="vertical">
						<img class="img-responsive center-block" src="images/tradiciones/tradiciones.svg" alt="Tradiciones. Sabores, colores y olores costarricenses">
						<h1>Make your own<br> Costa Rican meal!</h1>
						<div class="arrow">
							<img src="/images/tradiciones/buttons/arrow.svg">
						</div>
					</div>
				</div>
			</div>
		</header>
	</div>
	<div class="section allRecipes">
		<div class="container">
			<div class="recipes">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
						{{#each mainDishes}}
						{{> recipe}}
						{{/each}}
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
						{{#each sideDishes}}
						{{> recipe}}
						{{/each}}
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
						{{#each beverages}}
						{{> recipe}}
						{{/each}}
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
						{{#each desserts}}
						{{> recipe}}
						{{/each}}
					</div>
				</div>
			</div>
		</div>

    </div>
    <div class="footer">
		    <footer class="container" >
		        <p class="pull-right social">
		        	<a href="https://www.facebook.com/Hangar.cr" target="_blank" class="social-links">
		        		<img class="face-logo" src="/images/tradiciones/buttons/face-logo.svg">
		        	</a>
		        	<a href="https://instagram.com/hangarcollective/" target="_blank" class="social-links">
		        		<img class="insta-logo" src="/images/tradiciones/buttons/insta-logo.svg">
		        	</a>
		        	<a href="https://www.linkedin.com/company/the-hangar-interactive" target="_blank" class="social-links">
		        		<img src="/images/tradiciones/buttons/linked-in.svg">
		        	</a>
		        </p>
		        
		        <p class="pull-left">
		    		<img class="logoFooter" src="/images/tradiciones/buttons/hangar-logo.svg">
		    		<span class="spanFooter"> ©2015 HANGAR <span class="spanFooterBold">ILLUSTRATION LAB</span> 
		    			<span class="hiddenmd">all Rights Reserved </span><span class="hiddenlg">&reg;</span>
		    		</span>
				</p>
		    </footer> 
     </div>
</template>

