@media only screen and (max-width: 1200px) {
	body{
		#currentRecipe{
			.recipe-holder{
				.recipe-content{
		            .recipe-info{
		                span{
		                	display: block;
		                }
		            }
		        }
			}
	    }
	}
}
@media only screen and (max-width: 991px) {
	body{
		#currentRecipe{
			.recipe-holder{
				.recipe-content{
		        	padding: 10% 15% 10%;
		            .recipe-info{
		                span{
		                	display: block;
		                }
		            }
		        }
			}
	    }
	}
}
@media only screen and (max-width: 750px) and (min-width: 600px) {
	body{
		#currentRecipe{
			.recipe-holder{
				.recipe-content{
		            .recipe-info{
		                span{
		                	display: block;
		                }
		            }
		        }
			}
	    }
	}
}

