@media only screen and (max-width: 599px) {
  .topContent {
     height: 100vh;
     .rowPanel{
         height: 20.3%;
         display: table;
         width: 100%;
         margin: 0;
     }
     .salsa{
        @extend .rowPanel;
        background: #f2c000;
    }
    .tenedor{
        @extend .rowPanel;
        background: #fdf6dc;
    }
    .tradiciones{
        @extend .rowPanel;
        background: #8dd3cb;
    }
    .tradicionesTexto{
        color: black;
        font-family: din-bold;
    }
    .cuchara{
        @extend .rowPanel;
        background: #ede4ca;
    }		
    .confites{
        @extend .rowPanel;
        background: #4fa84c;
    }

    .vertical{
     display: table-cell;
     text-align: center;
     vertical-align: middle;
 }
}

#cookSmall {
    height: 100%; 
    width: 100%;

    #recipesSlide{
        display: none;
    }

    .recipe {
        background-color: #ede4ca;
        height: 100vh;
        width: 100%;

        h2 {
            background-color: #8dd3cb;
            color: #000;
            font-size: 20px;
            margin: 0;
            padding-top: 22px;
            height: 64px;
            border-bottom: 2px solid #000;
            font-family: din-regular;
        }

        .text-center {
            width: 100%;
        }
        .vertical{
            width: 325px;
            height: 320px;
            text-align: center;
            border: 5px solid #ede4ca;
            margin-top: -10px;
            display: table;
            .vertical-son{
                display: table-cell;
                vertical-align: middle;
                img{
                    display: inline-block;
                } 
            }
        }

        .carousel {
            height: 60vh;
        }

        h3 {

            margin-top: 5%;
            width: 100%;
            span{
                color: #314040;
                font-size: 50px; 
                font-size: 30px;
                font-family: din-bold;
                border-bottom: 2px solid #000;
            }  
        }   

        h4 {
            font-family: din-regular;
            font-size: 20px;
            margin-top: 4%;
        }

        .btn-default {
            outline: 0;
            background-color: #68bc68;
            color: #fff;
            height: 30px;
            width: 113px;
            font-family: din-regular;
            //font-size: 20px;
            font-size: 3.5vw;
            text-transform: uppercase;
            border-radius: 15px;
            margin-top: 5%;
            padding: auto;
        }
        .glyphicon {
            font-size: 40px;
        }
    }
    .detail {
        display: none;
    }
}
}
.footer {
	height: 85px;
    color: #887;
    background-color: #3d464d;
    padding-top: 30px;
    padding-bottom: 30px;
}