@media only screen and (max-width: 599px) {
    .topContent {
         height: 100vh;
         .rowPanel{
             height: 20.3%;
             display: table;
             width: 100%;
             margin: 0;
         }
         .salsa{
            @extend .rowPanel;
            background: #f2c000;
        }
        .tenedor{
            @extend .rowPanel;
            background: #fdf6dc;
        }
        .tradiciones{
            @extend .rowPanel;
            background: #8dd3cb;
        }
        .tradicionesTexto{
            color: black;
            font-family: din-bold;
        }
        .cuchara{
            @extend .rowPanel;
            background: #ede4ca;
        }		
        .confites{
            @extend .rowPanel;
            background: #4fa84c;
        }
        .vertical{
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            img{
                max-height: 70px;
            }
        }
    }

    body #currentRecipe .recipe-holder .recipe-content h1 {
        font-size: 25px;
    }

    body #currentRecipe .recipe-holder .recipe-content h1 span {
        display: block;
        font-size: 21px;
    }

    #cookSmall {
        height: 100%; 
        width: 100%;

        #recipesSlide{
            display: none;
        }

        .recipe {
            background-color: #ede4ca;
            height: 100vh;
            width: 100%;

            h2 {
                background-color: #8dd3cb;
                color: #000;
                font-size: 16px;
                margin: 0;
                padding-top: 25px;
                height: 64px;
                border-bottom: 2px solid #000;
                font-family: din-regular;
            }

            .text-center {
                width: 100%;
            }
            .vertical{
                width: 325px;
                height: 320px;
                text-align: center;
                border: 5px solid #ede4ca;
                margin-top: -10px;
                display: table;
                .vertical-son{
                    display: table-cell;
                    vertical-align: middle;
                    img{
                        display: inline-block;
                    } 
                }
            }

            .carousel {
                height: 60vh;
            }

            h3 {

                margin-top: 5%;
                width: 100%;
                span{
                    color: #314040;
                    font-size: 24px;
                    font-family: din-bold;
                    border-bottom: 2px solid #000;
                    padding: 0 0 2px;
                }  
            }   

            h4 {
                font-family: din-regular;
                font-size: 20px;
                margin-top: 4%;
            }

            .btn-default {
                outline: 0;
                background-color: #68bc68;
                color: #fff;
                height: 30px;
                width: 113px;
                font-family: din-regular;
                font-size: 12px;
                text-transform: uppercase;
                border-radius: 15px;
                margin-top: 3.5%;
            }
            .glyphicon {
                font-size: 40px;
            }
        }
        .detail {
            display: none;
        }
    }
    body{
        #currentRecipe{
            .mobile-header{
                height: 64px;
                background-color: #90D2CB;
                border-bottom: 1px solid #314040;
                h1{ 
                    padding: 2px;
                    font-family: din-bold;
                    font-size: 22px;
                    color: #314040;
                    font-style: normal;
                    margin-left: 60px;
                    margin-top: 14px;
                    float: left;
                }
                a.recipe-close{
                    float: right;
                    display: block;
                    width: 64px;
                    height: 64px;
                    border-left: 1px solid #314040;
                    text-align: center;
                    img{
                        margin-top: 28px;
                    }
                }

            }
            .recipe-holder{
                .recipe-content{
                    h1{
                        span{
                            display: none;
                        }
                    }
                    h2{
                    }
                    p, li{
                    }
                    span.separator{
                    }
                    .recipe-info{
                        span{
                            display: block;
                        }
                    }
                    ul, li{
                    }
                    .recipe-close{
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 321px) {
    #cookSmall {
        .recipe {
            .vertical{
                width: 271px;
                height: 266px;
                text-align: center;
                border: 10px solid #ede4ca;
                margin-top: -10px;
                display: table;
                .vertical-son{
                    display: table-cell;
                    vertical-align: middle;
                    img{
                        display: inline-block;
                    } 
                }
            }
        }
    }
}
@media only screen and (max-width: 500px) {
    body #currentRecipe .recipe-holder .recipe-content{
        .col-xs-4 {
            width: 50%;
            text-align: left;
            margin-bottom: 5px;
        }
    }
}