<template name="currentRecipe">
	<div class="section">
		<div class="container">
			<div id="currentRecipe" class="col-lg-12">
				<div class="recipe-content">
					<a href="#" class="recipe-close"><img src="/images/tradiciones/buttons/close-button-web.svg"></a>
					<h1>Gallo Pinto <span>(Ga-joe peen-toh)</span></h1>
					<p>Commonly known as Pinto, gallo pinto is Costa Rica’s signature dish. This surprisingly delicious combo of rice and beans is eaten for lunch, breakfast or dinner in households all over the country.</p>
					<span class="separator"></span>
					<div class="row recipe-info">
						<div class="col-lg-4 text-left">
							<span>serves</span> four
						</div>
						<div class="col-lg-4 text-center">
							<span>cooks in</span> 20 mins
						</div>
						<div class="col-lg-4 text-right">
							<span>difficulty</span> easy
						</div>
					</div>
					<span class="separator"></span>
					<div class="row">
						<div class="col-lg-12">
							<h2>Ingredients</h2>
						</div>
						<div class="col-lg-6">
							<ul>
								<li>3 cups cooked rice</li>
								<li>2 cups cooked beans</li>
								<li>Half a celery stalk, minced</li>
								<li>Half an onion, minced</li>
								<li>Half a red bell pepper, minced</li>
							</ul>
						</div>
						<div class="col-lg-6">
							<ul>
								<li>1 TBSP Worcestershire sauce</li>
								<li>1 TSP ground cumin</li>
								<li>1 TBP cooking oil</li>
								<li>Salt & ground pepper</li>
								<li>1/4 cup fresh coriander</li>
							</ul>
						</div>
					</div>
					<span class="separator"></span>
					<h2>Preparation</h2>
					<p>In a large skillet, melt the butter at medium heat and add in the garlic, onion, sweet pepper and celery.  Stir-fry for 3 minutes, and then add in the black beans and their broth. Before incorporating the rice, season the beans with Worcestershire sauce and cook for 5 minutes.  Mix the rice slowly and cook until the liquid has evaporated.  Add the cilantro, salt and pepper to taste and serve.</p>
				</div>
			</div>
		</div>
	</div>
</template>