<template name="recipe">
	{{#if extra.position}}
		<div class="extra up {{extra.color}}">
			<div class="vertical">
				<img src="/images/tradiciones/icons/{{extra.color}}.svg">
			</div>	
		</div>
	{{/if}}
	<div class="col-lg-12 recipe" style="background-color:#{{color}}">
		<div class="actual">
			<div class="vertical">
				<img src="{{thumbnail}}">
			</div>
		</div>
		<div class="after">
			<h3>
				<a href="{{recepie_img}}" class="fancybox" rel="gallery" title="{{name}}">{{name}}</a>
				<br /><span class="subtile">{{subtitle}}</span>
			</h3>
		</div>
	</div>
	{{#if extra}}
		{{#unless extra.position}}
			<div class="extra down {{extra.color}}">
			<div class="vertical">
				<img src="/images/tradiciones/icons/{{extra.color}}.svg">
			</div>
			</div>
		{{/unless}}
	{{/if}}
</template>