<template name="currentRecipe">
	<div id="currentRecipe">
		<div class="section">
			<div class="container">
				<div class="col-lg-12 recipe-holder">
					<div class="recipe-content">
						<a href="#" class="recipe-close"><img src="/images/tradiciones/buttons/close-button-web.svg"></a>
						<h1>{{recipe.name}} <span>{{recipe.subtitle}}</span></h1>
						<p>{{recipe.description}}</p>
						<span class="separator"></span>
						<div class="row recipe-info">
							<div class="col-lg-4 col-sm-4 col-xs-4 text-left">
								<span>serves</span> {{recipe.countServes}}
							</div>
							<div class="col-lg-4 col-sm-4 col-xs-4 text-center">
								<span>cooks in</span> {{recipe.duration}}
							</div>
							<div class="col-lg-4 col-sm-4 col-xs-4 text-right">
								<span>difficulty</span> {{recipe.difficulty}}
							</div>
						</div>
						<span class="separator"></span>
						<div class="row">
							<div class="col-lg-12">
								<h2>Ingredients</h2>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<ul>
									<li>3 cups cooked rice</li>
									<li>2 cups cooked beans</li>
									<li>Half a celery stalk, minced</li>
									<li>Half an onion, minced</li>
									<li>Half a red bell pepper, minced</li>
								</ul>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<ul>
									<li>1 TBSP Worcestershire sauce</li>
									<li>1 TSP ground cumin</li>
									<li>1 TBP cooking oil</li>
									<li>Salt & ground pepper</li>
									<li>1/4 cup fresh coriander</li>
								</ul>
							</div>
						</div>
						<span class="separator"></span>
						<h2>Preparation</h2>
						<p>{{recipe.preparation}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>