<template name="recipe">
	{{#if extra.position}}
		<div class="extra up {{extra.color}}">
			<div class="vertical">
				<img src="/images/tradiciones/icons/{{extra.color}}.svg">
			</div>	
		</div>
	{{/if}}
	<div class="col-lg-12 recipe {{class}}" style="background-color:#{{color}}">
		<div class="actual">
			<div class="vertical">
				<img src="{{thumbnail}}">
			</div>
		</div>
		<div class="after">
			<h3>
				<span class="title">{{name}}</span>
				<br /><span class="subtitle">{{english}}</span>
				<br /><a class="btn btn-default seeRecipe" href="#">See Recipe</a>
			</h3>
		</div>
	</div>
	{{#if extra}}
		{{#unless extra.position}}
			<div class="extra down {{extra.color}}">
			<div class="vertical">
				<img src="/images/tradiciones/icons/{{extra.color}}.svg">
			</div>
			</div>
		{{/unless}}
	{{/if}}
</template>