<template name="cocinando">
	<div id="fullpage" class="cocinando">
	    <div class="section fp-auto-height">
	    	<header class="container">
				<div class="text-center">
					<div class="header-buffer">
						<img class="img-responsive center-block" src="images/tradiciones/tradiciones.svg" alt="Tradiciones. Sabores, colores y olores costarricenses">
						<h1>Make your own Costa Rican meal! <br> Options below.</h1>
					</div>
				</div>
			</header>
	    </div>
	    <div class="section">
	    	<div class="container">
				<div class="recipes">
				<div class="slide" data-anchor="slide1">
					{{#each recepies_p1}}
						<div class="col-xs-12 col-sm-6 col-md-4 recipe">
							<div class="actual">
								<img src="{{thumbnail}}"> 
							</div>
							<div class="after">
								<h3>
									<a href="{{recepie_img}}" class="fancybox" rel="gallery" title="{{name}}">{{name}}</a>
									<br /><span class="subtile">{{subtitle}}<br />{{type}}</span>
								</h3>
							</div>
						</div>
					{{/each}}	
				</div>
				<div class="slide" data-anchor="slide2">
					{{#each recepies_p2}}
						<div class="col-xs-12 col-sm-6 col-md-4 recipe">
							<div class="actual">
								<img src="{{thumbnail}}"> 
							</div>
							<div class="after">
								<h3>
									<a href="{{recepie_img}}" class="fancybox" rel="gallery" title="{{name}}">{{name}}</a>
									<br /><span class="subtile">{{subtitle}}<br />{{type}}</span>
								</h3>
							</div>
						</div>
					{{/each}}	
				</div>
				
				</div>
			</div>
	    </div>
	</div>
</template>