<template name="cookSmall">
	<div class="topContent">
		<div class="row salsa">
			<div class="vertical">
				<img class="img-responsive center-block" src="/images/tradiciones/icons/salsa.svg">
			</div>
		</div>
		<div class="row tenedor">
			<div class="vertical">
				<img class="img-responsive center-block" src="/images/tradiciones/icons/tenedor.svg">
			</div>
		</div>
		<div class="row tradiciones">
			<div class="vertical">
				<h2 class="tradicionesTexto">TRADICIONES</h2>
			</div>
		</div>
		<div class="row cuchara">
			<div class="vertical">
				<img class="img-responsive center-block" src="/images/tradiciones/icons/cuchara.svg">
			</div>
		</div>
		<div class="row confites">
			<div class="vertical">
				<img class="img-responsive center-block" src="/images/tradiciones/icons/confites.svg">
			</div>
		</div>
	</div>	
	<div id="cookSmall">
		<div class="recipe">
			<h2>Make your own Costa Rican meal!</h2>
			<div id="recipesSlide" >
				{{#each allRecipes}}
				<div class="item">
					<div class="text-center">
						<div class="vertical">
							<img src="{{thumbnail}}" style="background-color:#{{color}}" />	
						</div>
						<h3><span>{{name}}</span></h3>
						<h4>{{subtitle}}</h4>
						<a class="btn btn-default" href="#">See Recipe</a>
					</div>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
	<footer class="footer text-center">
        <div class="container">
            <img src="/images/tradiciones/Buttons/hangar-logo.svg">
        </div>
    </footer>
</template>