<template name="cookSmall">
	<style type="text/css">
		.topContent{
			height: 100vh;
		}
		.salsa{
			background: #f2c000;
			height: 20%;
	 		display: table;
	 		width: 100%;
	 		margin: 0;
		}
		.tenedor{
			background: #fdf6dc;
			height: 20%;
	 		display: table;
	 		width: 100%;
	 		margin: 0;
		}
		.tradiciones{
			background: #8dd3cb;
			height: 20%;
	 		display: table;
	 		width: 100%;
	 		margin: 0;
		}
		.tradicionesTexto{
			color: black;
			font-family: din-bold;
		}
		.cuchara{
			background: #ede4ca;
			height: 20%;
	 		display: table;
	 		width: 100%;
	 		margin: 0;
		}
		.confites{
			background: #4fa84c;
			height: 20%;
	 		display: table;
	 		width: 100%;
	 		margin: 0;
		}
		.vertical{
			display: table-cell;
	 		text-align: center;
	 		vertical-align: middle;
		}
	</style>
	<div class="topContent">
		<div class="row salsa">
			<div class="vertical">
				<img class="img-responsive center-block" src="/images/tradiciones/icons/salsa.svg">
			</div>
		</div>
		<div class="row tenedor">
			<div class="vertical">
				<img class="img-responsive center-block" src="/images/tradiciones/icons/tenedor.svg">
			</div>
		</div>
		<div class="row tradiciones">
			<div class="vertical">
				<h2 class="tradicionesTexto">TRADICIONES</h2>
			</div>
		</div>
		<div class="row cuchara">
			<div class="vertical">
				<img class="img-responsive center-block" src="/images/tradiciones/icons/cuchara.svg">
			</div>
		</div>
		<div class="row confites">
			<div class="vertical">
				<img class="img-responsive center-block" src="/images/tradiciones/icons/confites.svg">
			</div>
		</div>
		</div>	
		<div id="cookSmall">
			<div class="recipe">
				<h2>Make your own Costa Rican meal!</h2>
				<div id="carousel-recipes" class="carousel slide" data-ride="carousel" data-interval="false">
					<div class="carousel-inner" role="listbox">
						<div id="recipesSlide" >
							{{#each allRecipes}}
								<div class="item">
									<div class="text-center">
										<img src="{{thumbnail}}" style="background-color:#{{color}}" />
										<h3>{{name}}</h3>
										<h4>{{subtitle}}</h4>
										<a class="btn btn-default" href="#">See Recipe</a>
									</div>
								</div>
							{{/each}}
						</div>
					</div>
				</div> 
			</div>
		</div>
</template>